# --- Oracle ---
ORACLE_PASSWORD=f1nans1sta
DB_APP_USER=admin_pb
DB_APP_PASSWORD=paw1ewjav1e
DB_NAME=FREEPDB1
DB_PORT=1521

# --- Backend ---
BACKEND_PORT=8080
JWT_SECRET=586B633834416E396D7436753879382F423F4428482B4C6250655367566B5970
JWT_EXPIRATION=14400000
JWT_COOKIE_NAME=jwt_cookie
JWT_COOKIE_SECURE=false
STORAGE_DIR=/data/attachments
JPA_SHOW_SQL=true
SPRINGDOC_API_DOCS_ENABLED=true
SPRINGDOC_SWAGGER_UI_ENABLED=true
DEMO_DATA_ENABLED=true
MANAGEMENT_PORT=9090


# --- Frontend ---
FRONTEND_PORT=8081
BACKEND_URL=http://localhost:8080
THYMELEAF_CACHE=true


# --- Storage ---
SPRING_MAX_FILE_SIZE=10MB
SPRING_MAX_REQUEST_SIZE=15MB
